<template>
    <div>
        <AppNav></AppNav>
        <div class="about">
            <h1>About Jobo</h1>
        </div>
    </div>
</template>
<script>
import AppNav from "../components/AppNav";

export default {
    name: 'About',
    components: {
        AppNav,
    }
}
</script>
