<template>
 <div> 
    <LoggedInNav></LoggedInNav>
    
    <div class="container mt-3">
        <h1>Post an offer for a job</h1>
       <form class="mt-3">
           <div class="form-group">
                <input v-model="newOffer.name" class="form-control" placeholder="Title" id="name" required/>
                <small class="form-text text-muted">Required</small>
           </div>
           <div class="form-group">
                <textarea v-model="newOffer.description" class="form-control" id="description" rows="4" placeholder="Description" required></textarea>
                <small class="form-text text-muted">Required</small>
           </div>
           <div class="form-group">
               <select v-model="newOffer.job_category_id" class="custom-select" id="job_category_id" required>
                    <option  v-for="category in categories" :key="category.id">{{category.name}}</option>
                </select>
                <small class="form-text text-muted">Required</small>
           </div>
           <br>
           <input @click="add" name="addOffer" id="addOffer" class="btn btn-success" value="Post">
            <br><br>
        </form>
    </div>
 </div>
</template>

<script>
import LoggedInNav from "../components/LoggedInNav";
import axios from "axios";
import { mapState, mapActions } from 'vuex';

export default {
    name: 'AddNewOffer',
    components: {
        LoggedInNav,
    },
    data() {
        return {
            newOffer: {
                name: '',
                description: '',
                job_category_id: '',
                user_id: '',
            }
        }
    },
    async mounted() {
        if(!localStorage.getItem('token')) {
            this.$router.push('/login');
        } else {
            await this.login(localStorage.getItem('token'));
            this.getCategories();
            this.newOffer.user_id = this.$store.state.user.id;
        }
    },
    computed: mapState(['categories']),
    methods: {
        ...mapActions(['getCategories', 'login']),
        add() {
            axios.post('http://localhost:3000/offers/add', this.newOffer).then(res => {
                if(res.status === 200) {
                    alert("Success!");
                    this.$router.push('/homepage');
                } else {
                    alert("Error! Please try again");
                    this.$router.push('/jobs/add');
                }
            }, err => {
                console.log(err.response);
                this.error = err.response.data.error;
            });
        },
    },
}
</script>

<style>

</style>