<template>
 <div> 
    <LoggedInNav></LoggedInNav>
    
    <div class="container mt-3">
        <h1>Post a job offer</h1>
       <form class="mt-3">
           <div class="form-group">
                <input v-model="newJob.name" class="form-control" placeholder="Title" id="name" required/>
                <small class="form-text text-muted">Required</small>
           </div>
           <div class="form-group">
                <textarea v-model="newJob.description" class="form-control" id="description" rows="4" placeholder="Description" required></textarea>
                <small class="form-text text-muted">Required</small>
           </div>
           <div class="form-group">
                <input v-model="newJob.address" class="form-control" placeholder="Address" id="address" />
           </div>
           <div class="form-group">
                <input v-model="newJob.city" class="form-control" placeholder="City" id="city" />
           </div>
           <div class="form-group">
               <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">kn</span>
                </div>
                <input v-model="newJob.price" class="form-control" placeholder="Price" id="price" required/>
                </div>
                <small class="form-text text-muted">Required</small>
           </div>
           <div class="form-group">
               <select v-model="newJob.job_category_id" class="custom-select" id="job_category_id" required>
                    <option  v-for="category in categories" :key="category.id">{{category.name}}</option>
                </select>
                <small class="form-text text-muted">Required</small>
           </div>
           <br>
           <input @click="add" name="addJob" id="addJob" class="btn btn-success" value="Post">
            <br><br>
        </form>
    </div>
 </div>
</template>

<script>
import LoggedInNav from "../components/LoggedInNav";
import axios from "axios";
import { mapState, mapActions } from 'vuex';

export default {
    name: 'AddNewJob',
    components: {
        LoggedInNav,
    },
    data() {
        return {
            newJob: {
                name: '',
                description: '',
                address: '',
                city: '',
                price: '',
                job_category_id: '',
                poster_id: '',
            }
        }
    },
    async mounted() {
        if(!localStorage.getItem('token')) {
            this.$router.push('/login');
        } else {
            this.getCategories();
            await this.login(localStorage.getItem('token'));
            this.newJob.poster_id = this.$store.state.user.id;
        }
    },
    computed: mapState(['categories']),
    methods: {
        ...mapActions(['getCategories', 'addJob', 'login']),
        add() {
            axios.post('http://localhost:3000/jobs/add', this.newJob).then(res => {
                if(res.status === 200) {
                    alert("Success!");
                    this.$router.push('/homepage');
                } else {
                    alert("Error! Please try again");
                    this.$router.push('/jobs/add');
                }
            }, err => {
                console.log(err.response);
                this.error = err.response.data.error;
            });
        },
    },
}
</script>

<style>

</style>