<template>
  <div>
    <AppNav></AppNav>
    <div class="home">
      <div class="jumbotron">
        <h1 class="display-3">Welcome to Jobo!</h1>
        <p class="lead">Jobo is an application to help you find people to do the simple task that you need help doing or are just too lazy to do yourself <small>(it's okay we don't judge).</small></p>
        <p class="lead">Or you can use Jobo as a worker and find people in your area that need help and earn some extra cash!</p>
        <hr class="my-4">
        <p>To use Jobo in all of its potential, create an account!</p>
        <p class="lead">
          <a class="btn btn-warning btn-lg" :href="registerPage" role="button">Join</a>
        </p>
        <p class="lead">
          <a class="btn btn-warning btn-lg" :href="getLoginURL" role="button">Login with Google</a>
        </p>
      </div>
    </div>
  </div>
  
</template>

<script>
import AppNav from "../components/AppNav";

export default {
  name: 'Home',
  computed: {
    getLoginURL() {
      return 'http://localhost:3000/auth/google';
    },
    registerPage() {
      return 'http://localhost:8080/register'
    }
  },
  components: {
    AppNav,
  },
  created() {
    if(localStorage.getItem('token')) {
      this.$router.push('/homepage');
    }
  },
};
</script>
