<template>
    <div v-if="ready" class="mb-2">
        <LoggedInNav></LoggedInNav>
        <h1 class="ml-4 mt-3" >Welcome back {{ user.first_name}}</h1>
        <hr>
        <div class="mt-3 ml-4">
                    <h3 v-if="selectedView == 'jobs' "> Your posted jobs</h3>
                    <h3 v-if="selectedView == 'offers'" > Your job offers</h3>
                    <h3 v-if="selectedView == 'applications'"> Your applications</h3>
        </div>
        <div class="row ml-2 mt-3">
            <div class="col-lg-2">
                <b-list-group>
                    <b-list-group-item class="d-flex justify-content-between align-items-center" v-on:click="selectedView = 'jobs'" >
                    My posted jobs
                    <b-badge variant="primary" pill> {{userJobs.length}}</b-badge>
                    </b-list-group-item>
                    <b-list-group-item class="d-flex justify-content-between align-items-center" v-on:click="selectedView = 'offers'" >
                    My job offers
                    <b-badge variant="primary" pill> {{userOffers.length}}</b-badge>
                    </b-list-group-item>
                    <b-list-group-item class="d-flex justify-content-between align-items-center" v-on:click="selectedView = 'applications'" >
                    My applications
                    <b-badge variant="primary" pill>{{applications.length}}</b-badge>
                    </b-list-group-item>
                </b-list-group>
                
            </div>
        
        <div v-if="selectedView == 'jobs'" class = "col-lg-10 row"> 
            <b-card v-for="job in userJobs" :key="job.id"
                :title="job.name"
                tag="article"
                style="width: 20rem; max-height:20rem;"
                class="mb-2 ml-2"
                 >
                <b-card-text>
                {{job.description}}
                <br>
                <footer>
                <strong>Price:{{job.price}} HRK</strong> 
                <b-badge v-if="job.worker_id" class="float-right" variant="success">Assigned</b-badge>
                </footer>
                </b-card-text>

                <b-button :href="'jobs/view/' + job.id" variant="primary" style="position: relative; bottom: 10px;">Show</b-button>
             </b-card>
        </div>
        
        <div v-if="selectedView == 'applications'" class = "col-lg-10 row">            
            <b-card v-for="application in applications" :key="application.id"
                tag="article"
                style="width: 20rem; max-height:20rem;"
                class="mb-2 ml-2"
                >
                <b-card-title>Job: {{application.name}}</b-card-title>
                <b-card-text> <strong>Your message:</strong> {{application.message}}
                <br>
                <footer>
                </footer>
                </b-card-text>
                <b-badge v-if="application.selected" class="float-right" variant="success">Selected</b-badge>
                <b-button :href="'jobs/view/' + application.job_id" variant="primary" style="position: relative; bottom: 10px;">View</b-button>
             </b-card>
        </div>
        <div v-if="selectedView == 'offers'" class = "col-lg-10 row">            
            <b-card v-for="offer in userOffers" :key="offer.id"
                :title="offer.name"
                tag="article"
                style="width: 20rem; max-height:20rem;"
                class="mb-2 ml-2"
                 >
                <b-card-text>
                {{offer.description}}
                <br>
                <footer>
                </footer>
                </b-card-text>

                <b-button :href="'offers/view/' + offer.id" variant="primary" style="position: relative; bottom: 10px;">Show</b-button>
             </b-card>
        </div>
    </div>
    </div>
</template>

<script>
import LoggedInNav from "../components/LoggedInNav";
import axios from "axios";
import { mapState, mapActions } from 'vuex';

export default {
    name: 'Homepage',
    data() {
        return {
            job_replies: 0,
            ready: false,
            //true=jobs, false=applications
            'selectedView': 'jobs',
        }
    },
    created() {
        
    },
    components: {
        LoggedInNav,
    },
    async mounted() {
        if(!localStorage.getItem('token')) {
            this.$router.push('/login');
        } else {
            await this.login(localStorage.getItem('token'));
            await this.getUserJobs(this.$store.state.user.id);
            await this.getUserApplications(this.$store.state.user.id);
            await this.getUserOffers(this.$store.state.user.id);
            this.ready = true;
        }
    },
    computed: mapState(['jobs', 'user', 'applications', 'userJobs', 'userOffers']),
    methods:  mapActions(['login', 'getUserJobs', 'getUserApplications', 'getAllJobs', 'getUserOffers']),
}
</script>

<style>

</style>