<template>
  <div v-if="categories" class="pb-auto">
    <LoggedInNav></LoggedInNav>
    <a class="btn btn-success m-lg-3 mt-2 float-right" href="/jobs/add">Add new</a>
    <h4 style="margin-top:20px; margin-left:20px;" v-if="selectedCategory">{{selectedCategory.name}}</h4>
    <h4 style="margin-top:20px; margin-left:20px;" v-else>All</h4>

    <div style="margin-top:20px; margin-left:20px;" class="row">
        <div class="col-lg-2">
            
            <b-list-group class="category" v-for="category in categories"
            :key="category.id">
                <b-list-group-item class="d-flex justify-content-between align-items-center" v-on:click="selectedCategory = category" >
                    {{category.name}}
                    <b-badge variant="primary" pill>{{category.jobs_number}}</b-badge>
                </b-list-group-item>
            </b-list-group>
            <b-list-group class="category">
                <b-list-group-item class="d-flex justify-content-between align-items-center" v-on:click="selectedCategory = category" >
                    All
                    <b-badge variant="primary" pill> {{jobs.length}} </b-badge>
                </b-list-group-item>
            </b-list-group>
            
        </div> 
            <div v-if="selectedCategory" class = "col-lg-10 row">
                <div v-for="job in jobs" :key="job.id">
                    <div v-if="selectedCategory.id == job.job_category_id">
                        <b-card 
                        :title="job.name"
                        tag="article"
                        style="width: 20rem; max-height:20rem;"
                        class="mb-2 ml-2"
                        >
                        <b-card-text>
                        {{job.description}}
                        <br>
                        <footer>
                        <strong>Price:{{job.price}} </strong> 
                        </footer>
                        </b-card-text>

                        <b-button :href="'jobs/view/' + job.id" variant="primary" >Show</b-button>
                        </b-card>
                    </div>
                </div>
            </div>
            <div v-else class = "col-lg-10 row">
                <b-card v-for="job in jobs" :key="job.id"
                :title="job.name"
                tag="article"
                style="max-height:20rem; width: 20rem;"
                class="mb-2 ml-2"
                 >
                <b-card-text>
                {{job.description}}
                <br>
                <footer>
                <strong>Price:{{job.price}} HRK</strong> 
                </footer>
                </b-card-text>

                <b-button :href="'jobs/view/' + job.id" variant="primary">Show</b-button>
                </b-card>
            </div>
    </div>
    
  </div>

</template>

<script>
import LoggedInNav from "../components/LoggedInNav";
import axios from "axios";
import { mapState, mapActions } from 'vuex';

export default {
    name: 'Jobs',
    data() {
        return {
            'selectedCategory': '',
        }
    },
    mounted() {
        if(!localStorage.getItem('token')) {
            this.$router.push('/login');
        } else {
            this.login(localStorage.getItem('token'));
            this.getCategories();
            this.getAllJobs(this.$store.state.user.id);
        }
    },
    components: {
        LoggedInNav,
    },
    computed: mapState(['categories', 'jobs', 'user']),
    methods:  mapActions(['getCategories', 'getAllJobs', 'login']),

}
</script>

<style>
.category {
    margin-top: 5px;
}


</style>