<template>
    <div v-if="ready">
        <LoggedInNav></LoggedInNav>
        <div class="container mt-2">
            <b-tabs v-if="user.id == viewUser.id" content-class="mt-3">
                <b-tab title="Information" active >
                    <form v-if="user.id == viewUser.id" class="mt-3" id="user-form">
                        <div class="form-group">
                            <fieldset>
                                <p>Email:</p>
                                <input class="form-control" id="readOnlyInput" type="text" :placeholder="user.email" readonly="">
                                <br>
                                <p>Name:</p>
                                <input v-model="updatedUser.first_name" class="form-control" type="text" :placeholder="user.first_name">
                                <br>
                                <p>Last name:</p>
                                <input v-model="updatedUser.last_name" class="form-control" type="text" :placeholder="user.last_name">
                                <br>
                                <p>Date of birth: </p>
                                <input v-model="updatedUser.dob" class="form-control" type="date" :placeholder="user.phone_number">
                                <br>
                                <p>Phone number:</p>
                                <input v-model="updatedUser.phone_number" class="form-control" type="text" :placeholder="user.phone_number">
                                <small class="form-text text-muted">Warning: everyone with profile will be able to see your phone number</small>
                                <br>
                                <p>Gender: </p>
                                <div class="custom-control custom-radio">
                                    <input v-model="updatedUser.gender" type="radio" id="male" value="male" name="radio" class="custom-control-input">
                                    <label class="custom-control-label" for="male">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                    <input v-model="updatedUser.gender" type="radio" id="female" name="radio" value="female" class="custom-control-input">
                                    <label class="custom-control-label" for="female">Female</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                    <input v-model="updatedUser.gender" type="radio" id="other" name="radio" value="other" class="custom-control-input">
                                    <label class="custom-control-label" for="other">Other</label>
                                </div>
                                <br>
                                <div class="form-group form-button">
                                    <input @click="update" name="updateUser" class="btn btn-success" value="Edit">
                                </div>
                                <br>
                            </fieldset>
                        </div>
                        <br><br>
                    </form>
                </b-tab>
                <b-tab title="Statistics">
                    <br>
                    <h6><strong>Joined: </strong>{{ user.joined_at.slice(0, 10) }}</h6>
                    <h6><strong>Jobs done: </strong> {{user.jobs_done}} </h6>
                    <h6><strong>Jobs posted: </strong> {{user.jobs_posted}} </h6>
                    <h6 v-if="user.jobs_done != 0"><strong>Rating: </strong> {{user.rating/user.jobs_done }} </h6>
                    <h6 v-else><strong>Rating: </strong> The user hasn't completed any jobs yet</h6>
                    <br><br>
                </b-tab>
            </b-tabs>
            <b-tabs v-else content-class="mt-3">
                <b-tab title="Information" active>
                    <form class="mt-3" id="user-form">
                        <div class="form-group">
                            <fieldset>
                                <p>Email:</p>
                                <input class="form-control" type="text" :placeholder="viewUser.email" readonly="">
                                <br>
                                <p>Name:</p>
                                <input class="form-control" type="text" :placeholder="viewUser.first_name" readonly="">
                                <br>
                                <p>Last name:</p>
                                <input class="form-control" type="text" :placeholder="viewUser.last_name" readonly="">
                                <br>
                                <p>Date of birth: </p>
                                <input class="form-control" type="text" :placeholder="viewUser.dob" readonly="">
                                <br>
                                <p>Phone number:</p>
                                <input class="form-control" type="text" :placeholder="viewUser.phone_number" readonly="">
                                <br>
                                <p>Gender: </p>
                                <input class="form-control" type="text" :placeholder="viewUser.gender" readonly="">
                                <br>
                                <br><br>
                            </fieldset>
                        </div>
                        <br><br>
                    </form>
                </b-tab>
                <b-tab title="Statistics">
                    <br>
                    <h6><strong>Joined: </strong>{{ viewUser.joined_at.slice(0, 10) }}</h6>
                    <h6><strong>Jobs done: </strong> {{viewUser.jobs_done}} </h6>
                    <h6><strong>Jobs posted: </strong> {{viewUser.jobs_posted}} </h6>
                    <h6 v-if="viewUser.jobs_done != 0"><strong>Rating: </strong> {{viewUser.rating/viewUser.jobs_done }} </h6>
                    <h6 v-else><strong>Rating: </strong> The user hasn't completed any jobs yet</h6>
                    <br><br>
                </b-tab>
            </b-tabs>
            
        </div>
    </div>
</template>

<script>
import LoggedInNav from "../components/LoggedInNav";
import axios from "axios";
import { mapState, mapActions } from 'vuex';

export default {
    name: 'Jobs',
    data() {
        return {
            'userId': '',
            ready: false,
            updatedUser: null,
        }
    },
    async mounted() {
        if(!localStorage.getItem('token')) {
            this.$router.push('/login');
        } else {
            this.userId = this.$route.params.id
            await this.login(localStorage.getItem('token'));
            await this.getUserById(this.$route.params.id);
            this.updatedUser = this.$store.state.viewUser
            this.ready = true;

        }
    },
    components: {
        LoggedInNav,
    },
    computed: mapState(['categories', 'jobs', 'user', 'viewUser']),
    methods:  { 
        ...mapActions(['getCategories', 'getAllJobs', 'login', 'getUserById']),
        update() {
            axios.post('http://localhost:3000/profile', this.updatedUser).then(res => {
                console.log(res);
                if(res.status == 200) {
                    alert("Successfully edited!");
                    this.$router.go();
                }
            }, err => {
                alert("Error");
                this.$router.go();
            })
        },
    }

}
</script>

<style>

</style>