<template>
  <div v-if="ready">
      <LoggedInNav></LoggedInNav>
        <div class="container mt-3">
            <b-card
                no-body   
            >
                <template v-slot:header>
                <h4 class="mb-0"> {{ offer.name }} </h4>

                <a v-if="user.id != offer.user_id" :href="'http://localhost:8080/profile/' + offer.user_id" class="btn btn-warning btn-sm float-right mr-1">View profile</a>
                </template>

                <b-card-body>
                <b-card-text>
                    {{ offer.description }}
                </b-card-text>
                </b-card-body>

                <b-card-footer><small>Posted: {{ offer.created_at.slice(0, 10) }}</small></b-card-footer>

            </b-card>
            <br>
            <button v-if="user.id == offer.user_id" @click = "deleteOffer(offer.id, offer.job_category_id)" type="button" class="btn btn-danger btn-sm card-link ">Delete</button>

            <br>
            <hr>
            <div v-if="user.id != offer.user_id" class="mt-4">
                <div>
                    <h3>Send a request for this offer</h3>
                    <h6>Add a message telling the poster what you are after and the price you are willing to pay.</h6>
                    <form class="mt-3" id="application-form">
                        <div class="form-group">
                                <textarea v-model="newRequest.message" class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                                <small class="form-text text-muted">Required</small>
                        </div>
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">kn</span>
                        </div>
                        <input v-model="newRequest.price" class="form-control" placeholder="Price" id="price" required/>
                        </div>
                        <small class="form-text text-muted">Required</small>
                        <br>
                        <input @click="add" name="addApplication" id="addapplication" class="btn btn-success" value="Request">
                            <br><br>
                    </form>
                </div>
            </div>
            <div v-else class="mt-4">
                <div >
                    <h3>Current job requests: </h3>
                    <b-card-group deck>
                        <b-card v-for="request in requests" :key="request.id" bg-variant="light" >
                        <h5>{{request.message}}</h5>
                        <h6><strong>Offered price:</strong> {{request.price}} HRK</h6>
                        <b-card-text>By: {{request.first_name}} {{request.last_name}}</b-card-text>
                        <a :href="'http://localhost:8080/profile/' + request.user_id" class="card-link">View profile</a> 
                        <div v-if="request.message != 'This offer was created automatically by Jobo because we thought the user might be interested. Message the user for more information.'">
                            <button v-if="!request.accepted" @click = "accept(offer.name, request.message, request.price, request.user_id, offer.user_id, offer.job_category_id, request.id)" type="button" class="btn btn-success card-link">Accept</button>
                            <b-badge v-else class="float-right" variant="success">Accepted</b-badge>
                        </div>
                        </b-card>
                    </b-card-group>
                    <br>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import LoggedInNav from "../components/LoggedInNav";

import axios from "axios";
import { mapState, mapActions } from 'vuex';

export default {
    name: 'ViewJob',
    data() {
        return {
            ready: false,
            id: '',
            poster: null,
            rating: null,
            newRequest: {
                offer_id: '',
                user_id: '',
                message: '',
                price: '',
            },
        }
    },
    async mounted() {
        if(!localStorage.getItem('token')) {
            this.$router.push('/login');
        } else {
            this.id = this.$route.params.id;
            await this.login(localStorage.getItem('token'));
            this.newRequest.user_id = this.$store.state.user.id;
            this.newRequest.offer_id = this.$route.params.id;
            await this.setCurrentOffer(this.$route.params.id);
            await this.getRequests(this.$route.params.id);
            this.ready = true;
        }
    },
    components: {
        LoggedInNav,
    },
    computed: mapState(['user', 'offer', 'hasApplied', 'requests']),
    methods:  {
        ...mapActions(['login', 'setCurrentOffer', 'getRequests']),
        add() {
            if(!this.newRequest.price || !this.newRequest.message) {
                alert("Please fill in all required fields");
                return;
            }
            axios.post('http://localhost:3000/offers/request/add', this.newRequest).then(res => {
                if(res.status === 200) {
                    alert("Request sent!");
                    this.$router.push('/homepage');
                } else {
                    alert("Error!");
                }
            }, err => {
                console.log(err.response);
                this.error = err.response.data.error;
            });
        },
        accept(offerName, offerDescription, requestPrice, posterId, workerId, categoryId, requestId) {
            axios.post('http://localhost:3000/offers/accept', 
                {newJob: {
                    name: offerName,
                    description: offerDescription,
                    price: requestPrice,
                    created_at: new Date().toISOString(),
                    poster_id: posterId,
                    worker_id: workerId,
                    job_category_id: categoryId,
                },
                    requestId: requestId})
                .then(res => {
                if(res.status === 200) {
                    alert("Accepted!");
                } else {
                    alert("Error!");
                }
                this.$router.go();
            });
        },
        deleteOffer(offerid, categoryid) {
            axios.post('http://localhost:3000/offers/delete', {offerId: offerid, categoryId: categoryid}).then(res => {
                if(res.status === 200) {
                    alert("Deleted!");
                    this.$router.push('/homepage');
                } else {
                    alert("Error!");
                }
            }, err => {
                console.log(err.response);
                this.error = err.response.data.error;
            });
        }
    }, 
}
</script>

<style>

</style>