<template>
  <div v-if="ready">
      <LoggedInNav></LoggedInNav>
        <div class="container mt-3">
            <b-card
                no-body
                
            >
                <template v-slot:header>
                <h4 class="mb-0"> {{ job.name }}</h4>
                <a v-if="user.id != job.poster_id" :href="'http://localhost:8080/profile/' + job.poster_id" class="btn btn-warning btn-sm float-right mr-1">View profile</a>
                </template>

                <b-card-body>
                <b-card-text>
                    {{ job.description }}
                </b-card-text>
                </b-card-body>

                <b-list-group flush>
                <b-list-group-item><strong>Price: </strong> {{ job.price }} HRK </b-list-group-item>
                <b-list-group-item v-if="job.address"><strong>Location: </strong> {{ job.address }}, {{ job.city }} </b-list-group-item>
                <b-list-group-item v-else><strong>Location: </strong> Not provided </b-list-group-item>

                </b-list-group>

                <b-card-footer><small>Posted: {{ job.created_at.slice(0, 10) }}</small></b-card-footer>

            </b-card>
            <br>
            <button v-if="user.id == job.poster_id" @click = "deleteJob(job.id, job.job_category_id)" type="button" class="btn btn-danger btn-sm card-link ">Delete</button>
            <br>
            <hr>
            <div v-if="user.id != job.poster_id" class="mt-4">
                <div v-if="hasApplied">
                    <div v-if="job.worker_id == user.id">
                        <h3>Congrats you got the job!</h3>
                        <h5>Job poster marks the job as done when it's over and gives you a rating</h5>
                        <br><br>
                    </div>
                   <div v-if="!job.worker_id">
                     <h3>You applied for this job, awaiting response...</h3>
                        <div v-for="application in applications" :key="application.id" >
                            <b-card v-if="application.user_id == user.id" bg-variant="light" >
                            <h6 ><strong>Your message:</strong> {{application.message}}</h6>
                            </b-card>
                            <br>
                        </div>
                   </div>
                   <div v-if="job.worker_id && job.worker_id != user.id">
                        <h3>Unfortunately the job was given to someone else</h3>
                        <br><br>
                    </div>
                   
                </div>
                <div v-else>
                    <h3>Apply for the job by clicking the apply button down below.</h3>
                    <h6>Add a message telling the poster something about yourself.</h6>
                    <form class="mt-3" id="application-form">
                        <div class="form-group">
                                <textarea v-model="newApplication.message" class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                        </div>
                        <input @click="add" name="addApplication" id="addapplication" class="btn btn-success" value="Apply">
                            <br><br>
                    </form>
                </div>
            </div>
            <div v-else class="mt-4">
                <div v-if="job.worker_id">
                    <h4>Job assigned, when the job is completed rate the worker and close the job</h4>
                    <b-progress :value="50" variant="success" striped animated></b-progress>
                    <br><hr>
                    <b-form-rating v-model="rating"></b-form-rating>
                    <p class="mt-2">Rating: {{ rating }}</p>
                    <button @click = "close(job.worker_id, job.id, job.job_category_id)" type="button" class="btn btn-success card-link">Close</button>
                    <br><br>
                </div>
                <div v-else>
                    <h3>Current job applications: </h3>
                    <b-card-group deck>
                        <b-card v-for="application in applications" :key="application.id" bg-variant="light" >
                        <h6>{{application.message}}</h6>
                        <b-card-text>By: {{application.first_name}} {{application.last_name}}</b-card-text>
                        <a :href="'http://localhost:8080/profile/' + application.user_id" class="card-link">View profile</a> 
                        <div v-if="application.message != 'Jobo found this job that might fit in with your offer. Go to user\'s profile and contact him for more information.'">
                            <button @click = "asign(application.id, application.user_id, application.job_id)" type="button" class="btn btn-success card-link">Accept</button>

                        </div>
                        </b-card>
                    </b-card-group>
                    <br>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import LoggedInNav from "../components/LoggedInNav";

import axios from "axios";
import { mapState, mapActions } from 'vuex';

export default {
    name: 'ViewJob',
    data() {
        return {
            ready: false,
            id: '',
            poster: null,
            rating: null,
            newApplication: {
                job_id: '',
                user_id: '',
                message: '',

            },
        }
    },
    async mounted() {
        if(!localStorage.getItem('token')) {
            this.$router.push('/login');
        } else {
            this.id = this.$route.params.id;
            await this.login(localStorage.getItem('token'));
            this.newApplication.user_id = this.$store.state.user.id;
            this.newApplication.job_id = this.$route.params.id;
            await this.setCurrentJob(this.$route.params.id);
            await this.getAllApplications(this.$route.params.id);
            await this.checkIfApplied({userid: this.$store.state.user.id,
                                        jobid: this.$route.params.id});
            this.ready = true;
        }
    },
    components: {
        LoggedInNav,
    },
    computed: mapState(['user', 'job', 'applications', 'hasApplied']),
    methods:  {
        ...mapActions(['login', 'setCurrentJob', 'getAllApplications', 'checkIfApplied']),
        add() {
            axios.post('http://localhost:3000/jobs/application', this.newApplication).then(res => {
                if(res.status === 200) {
                    alert("Successfully applied!");
                    this.$router.push('/homepage');
                }
            }, err => {
                console.log(err.response);
                this.error = err.response.data.error;
            });
        },
        asign(appid, workerid, jobid) {
            axios.post('http://localhost:3000/jobs/application/asign', {applicationId:appid, userId: workerid, jobId:jobid}).then(res => {
                if(res.status === 200) {
                    alert("Successfully assigned!");
                } else {
                    alert("Error!");
                }
                this.$router.go();
            });
        },
        close(userid, jobid, categoryid) {
            console.log("close data: ", userid, jobid, categoryid);
            if(!this.rating) {
                alert("Don't forget to rate the user!");
                return;
            }
            axios.post('http://localhost:3000/jobs/close/job', {rating:this.rating, userId: userid, jobId: jobid, categoryId:categoryid}).then(res => {
                if(res.status === 200) {
                    alert("This job is now closed!");
                    this.$router.push('/homepage');
                } else {
                    alert("Error!");
                }
                
            });
        },
        deleteJob(jobid, categoryid) {
            axios.post('http://localhost:3000/jobs/delete', {jobId: jobid, categoryId: categoryid}).then(res => {
                if(res.status === 200) {
                    alert("Deleted!");
                    this.$router.push('/homepage');
                } else {
                    alert("Error!");
                }
            }, err => {
                console.log(err.response);
                this.error = err.response.data.error;
            });
        }
    }, 
}
</script>

<style>

</style>