<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
      <img class="navbar-brand" href="#" src="../assets/jobo-final.png" alt="Home" height="50" width="50">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8080/">Home <span class="sr-only"></span></a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/login">Log in</a>
          </li>
          <li class="nav-item">
            <b-button pill variant="warning" a href="http://localhost:8080/register">Join</b-button>
          </li>
        </ul>
      </div>
    </nav>
</template>
<script>
export default {
  name: 'AppNav',
}
</script>
<style>

</style>
