<template>
    <nav v-if="ready" class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
      <img class="navbar-brand" href="#" src="../assets/jobo-final.png" alt="Home" height="50" width="50">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/about">About</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/jobs">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/offers">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" :href="'http://localhost:8080/profile/' + user.id">Profile</a>
          </li>
          <li class="nav-item">
            <b-button pill variant="warning" @click="logOut">Log out</b-button>
          </li>
        </ul>
      </div>
    </nav>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {

  name: 'LoggedInNav',
  data() {
    return {
      ready: false,
    }
  },
  mounted() {
      this.login(localStorage.getItem('token'));
      this.ready = true;
  },
  computed: mapState(['user']),
  methods: {
    ...mapActions(['login']),
    logOut() {
      localStorage.clear();
      this.$router.push('/');
    }
  },
}
</script>
<style>

</style>
